<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xiaoming" class="com.ly.springdemo.Spring.Bean1">
        <constructor-arg name="id" value="1"></constructor-arg>
        <constructor-arg name="name" value="xiaoming"></constructor-arg>
    </bean>
    <bean id="xiaohua" class="com.ly.springdemo.Spring.Bean1">
        <property name="id" value="2"></property>
        <property name="name" value="xiaohua"></property>
    </bean>
    <bean id="userDao" class="com.ly.springdemo.Spring.UserDao"></bean>
    <bean id="userService" class="com.ly.springdemo.Spring.UserService">
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="setComplexType" class="com.ly.springdemo.Spring.SetComplexType">
        <property name="arr">
            <list>
                <value>123</value>
                <value>2133</value>
            </list>
        </property>
        <property name="list">
            <list>
                <value>xiaoming</value>
                <value>xiaohua</value>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="name" value="xiaoming"></entry>
                <entry key="name1" value="xiaohua"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="driverclass">com.mysql.jdbc.driver</prop>
                <prop key="username">root</prop>
                <prop key="password">admin</prop>
            </props>
        </property>
    </bean>
</beans>